:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
}

p {
    margin: 0;
}

h1 {
    margin-top: 25px;
    font-size: 16px;
    padding-right: 2.5rem;
}

h1, .avatar-name {
    color: var(--very-dark-grayish-blue);
}

p, .card-info {
    color: var(--desaturated-dark-blue);
}

/*general styling*/

.card-info {
    line-height: 20px;
    padding-right: 45px;
}

.whole-card {
    margin: 0px 20px 15px 20px;
    border-radius: 10px;
}

.card-content {
    padding: .5rem 0rem 1.3rem 2rem;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.green-drawers {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    top: 48px;
    z-index: -1;
}

/*appleton panel start*/

.michelle-panel {
    display: flex;
    margin-top: 20px;
}

.michelle {
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.avatar-name {
    font-weight: 700;
    margin-bottom: 5px;
}

.share-main {
    background-color: var(--light-grayish-blue);
    width: 30px;
    height: 30px;
    margin-left: 69px;
    border-radius: 20px;
    border: 1px solid var(--light-grayish-blue);
    position: relative;
    top: 12px;
}

/*share panel start with animation*/

.share-panel {
    background-color: var(--very-dark-grayish-blue);
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 17px 30px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: absolute;
    top: 33.3rem;
    width: 275px;
    display: none;
}

.share-word {
    color: var(--grayish-blue);
    letter-spacing: .4rem;
}

.share-secondary {
    background-color: var(--desaturated-dark-blue);
    width: 30px;
    height: 30px;
    margin-left: 50px;
    border-radius: 20px;
    border: 1px solid var(--very-dark-grayish-blue);
    position: relative;
    top: -3px;
}

svg path{
    fill: var(--light-grayish-blue);
}

/*attribution*/ 

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-brands {
    font-size: 25px;
    color: var(--very-dark-grayish-blue);
    text-align: center;
    margin-top: 15px;
}

@media (min-width: 700px) {
    h1 {
        font-size: 20px;

    }
    
    .whole-card {
        display: flex;
        max-width: 790px;
    }

    .card-content {
        border-radius: 0px 10px 10px 0px;
        height: 251.5px;
        padding-left: 40px;
    }

    .green-drawers {
        position: relative;
        top: 0px;
        left: 70px;
        border-radius: 10px 0px 0px 10px;
        width: 350px;
    }

    .michelle-panel {
        margin-top: 25px;
    }

    .share-main {
        margin-left: 150px;
    }

    .share-main {
        cursor: pointer;
    }

    .share-panel {
        border-radius: 10px;
        width: 190px;
        justify-content: space-around;
        position: absolute;
        translate: 600px -170px;
    }

    .share-word {
        cursor: pointer;
    }

    .share-secondary {
        display: none;
    }
}